/**
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;
**/
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

html * {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	overflow: hidden;
	font-family: 'Audiowide', cursive;
	font-size: 10px;
}

::selection, ::-moz-selection {
	color: #859900;
	background-color: #002b36;
}

.hidden {
	display: none;
}

.grabbing {
	cursor: grabbing;
}

.pointer {
	cursor: pointer;
}

.loading {
	cursor: wait !important;
}

.rotate {
	display: inline;
	writing-mode: vertical-rl;
	vertical-align: middle;
	text-transform: uppercase;
	white-space: pre;
}

body {
	background-color: #002b36;
	color: #839496;
	font-size: 14px;
}

body:before {
	content: "";
	position: absolute;
	right: 0;
	width: 25px;
	height: 50px;
	margin: 25px 50px;
	z-index: 1;
	background-image: url(/static/images/rocket.webp);
	background-repeat: no-repeat;
	background-size: 25px;
	-webkit-transform: rotate(235deg);
	-moz-transform: rotate(235deg);
	-ms-transform: rotate(235deg);
	-o-transform: rotate(235deg);
	transform: rotate(235deg);
}

canvas {
	background-color: #00121D;
	margin: 0 auto;
	cursor: grab;
}

canvas[data-paper-resize] {
	width: 100%;
	height: 100%;
}

a {
	color: #859900;
}

header,
main,
footer {
	position: absolute;
}

header {
	top: 10px;
	left: 10px;
	width: 400px;
}

main {
	top: 75px;
	left: 10px;
	width: 302px;
}

footer {
	bottom: 10px;
	right: 10px;
	width: 400px;
}

header h1, header p, footer p {
	text-align: center;
}

header section,
footer section {
	background-color: rgba(7, 54, 66, .75);
	padding: 5px;
}

/***
 * Button styling for the site
 */
button {
	background-color: #268bd2;
	border: 4px solid #6c71c4;
	color: #fdf6e3;
	padding: 2px 4px;
	cursor: pointer;
	font-weight: bolder;
	font-size: 12px;
	width: 88px;
}

button:disabled {
	background-color: #002b36 !important;
	color: #dc322f !important;
	cursor: wait !important;
}

select,
input {
	background-color: #268bd2;
	border: 4px solid #6c71c4;
	color: #fdf6e3;
	font-size: 12px;
}

select option,
input {
	background-color: #268bd2;
	padding: 2px 4px;
	margin: 2px 0px;
}

label {
	margin-top: 4px;
	display: inline-block;
}

/***
 * System controls navigate around the stars 1 by 1
 */
section#system_controls,
section#planet_controls {
	background-color: rgba(7, 54, 66, .75);
	padding: 5px;
	position: absolute;
	width: 250px;
}

section#system_controls {
	top: 10px;
	left: 420px;
}

section#planet_controls {
	top: 81px;
	left: 420px;
}

section#system_controls p,
section#planet_controls p {
	text-align: center;
}

section#system_controls div,
section#planet_controls div {
	margin: 0 auto;
	width: 176px;
}

section#system_controls div input,
section#planet_controls div input {
	width: 50px;
}

section#system_controls div button,
section#planet_controls div button {
	width: 50px;
}

/***
 * Data section, used for filtered highlighting
 */
main section#data {
	grid-column: 1;
}

main section#data section {
	background-color: rgba(7, 54, 66, .75);
	margin: 0;
	padding: 5px;
	height: 600px;
}

main section#data span.note {
	font-size: 10px;
}

main section#data hr {
	margin: 5px 0px;
	border: 2px solid #002b36;
}

main section#data h1 span.icon,
main section#data h1 {
	text-align: center;
	font-size: 16px;
	cursor: pointer;
}

main section#data p {
	margin: 10px 0px;
}

main section#data select {
	width: 100%;
}

main section#data select option {
	background-color: #073642;
	cursor: pointer;
}

main section#data section div,
main section#data section h1 {
	border-bottom: 4px solid #002b36;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

main section#data section#how_to div {
	height: 522px;
	overflow-y: scroll;
}

main section#data section#filter div {
	height: 452px;
	overflow-y: scroll;
}

/***
 * System Data styling
 */
section#system_data {
	display: grid;
	gap: 5px;
	grid-template-columns: auto;
	grid-template-rows: 253px;
	position: absolute;
	margin: 0;
	padding: 5px;
	border-right: 4px solid rgba(0, 43, 54, .75);
	background-color: rgba(7, 54, 66, .75);
	height: 253px;
	top: 100px;
	right: 10px;
}

section#system_data div#star_data {
	font-size: 12px;
	color: #268bd2;
	min-width: 400px;
	grid-column: 2;
}

section#system_data div#planet_data {
	font-size: 12px;
	color: #268bd2;
	min-width: 400px;
	grid-column: 3;
}

section#system_data div#star_data img,
section#system_data div#planet_data img {
	float: right;
}

section#system_data div#show_hide_star_data {
	grid-column: 1;
}

section#system_data div#show_hide_planet_data {
	grid-column: 4;
}

section#system_data div#show_hide_star_data,
section#system_data div#show_hide_planet_data {
	display: inline;
	vertical-align: middle;
	font-size: 12px;
	color: #268bd2;
	width: 20px;
	text-align: center;
	cursor: pointer;
}

section#system_data p {
	margin: 2px;
}

section#system_data p span {
	color: #859900;
	float: right;
	margin: 0px 2px;
	text-transform: capitalize;
}